:root {
    --blue: #05386B;
    --cream: #EDF5E1;
    --green: #5CDB95;
    background-color: var(--cream);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.start-quiz {
    margin-top: 8vw;
    margin-left: 14vw;
    margin-right: 14vw;
    margin-bottom: 15vw;
    padding: 5vw;
    text-align: center;
    background-color: var(--green);
    border-radius: 4px;
}

.start-quiz h3 {
    font-size: 2vw;
    color:var(--cream);

}

.start-quiz p {
    font-size: 1.5vw;
    color:var(--blue);
    padding-bottom: 2vw;

}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color: var(--cream);
    background-color:var(--blue);
    border: none;
    padding: 1.1vw;
    text-decoration: none;
    border-radius: 4px;
    
}

.btn:hover {
    cursor: pointer;
    background-color:var(--cream);
    color:var(--blue);
    transform: scale(1.03);
    
}


#timer {
    visibility: hidden;
    text-align: center;
    margin-left: 3vw;
    margin-right: 88vw;
    border-radius: 4px;
    color:var(--green);
    font-size: 2vw;
    background-color:var(--blue);
}

#btn-highscore {
    display: flex;
    justify-content: flex-end;
    align-self:flex-end;
    margin-left: 80vw;
    
}

#btn-highscore:hover {
    background-color:var(--green);
    transition: 0.5s linear;
}

#question-one,
#question-two,
#question-three,
#question-four,
#question-five,
#question-six,
#question-seven,
#question-eight,
#question-nine,
#question-ten {
    display: none;
    font-size: 2vw;
    background-color: var(--green);
    color: var(--blue);
    text-align: center;
    padding: 2vw;
    margin: 10vw;
    font-weight: bold;
}

#A1,
#B1,
#C1,
#D1,
#A2,
#B2,
#C2,
#D2,
#A3,
#B3,
#C3,
#D3,
#A4,
#B4,
#C4,
#D4,
#A5,
#B5,
#C5,
#D5,
#A6,
#B6,
#C6,
#D6,
#A7,
#B7,
#C7,
#D7,
#A8,
#B8,
#C8,
#D8,
#A9,
#B9,
#C9,
#D9,
#A10,
#B10,
#C10,
#D10
{
    border: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1rem;
    border-radius: 4px;
    margin: .5rem;
    font-size: 1.4rem;
    background-color:var(--green);
    color:var(--blue);

}

#A1:hover,
#B1:hover,
#C1:hover,
#D1:hover,
#A2:hover,
#B2:hover,
#C2:hover,
#D2:hover,
#A3:hover,
#B3:hover,
#C3:hover,
#D3:hover,
#A4:hover,
#B4:hover,
#C4:hover,
#D4:hover,
#A5:hover,
#B5:hover,
#C5:hover,
#D5:hover,
#A6:hover,
#B6:hover,
#C6:hover,
#D6:hover,
#A7:hover,
#B7:hover,
#C7:hover,
#D7:hover,
#A8:hover,
#B8:hover,
#C8:hover,
#D8:hover,
#A9:hover,
#B9:hover,
#C9:hover,
#D9:hover,
#A10:hover,
#B10:hover,
#C10:hover,
#D10:hover {
    cursor: pointer;
    background-color:var(--blue);
    color:var(--green);
}

#end {
    visibility:hidden;
}
