:root {
    --blue: #05386B;
    --cream: #EDF5E1;
    --green: #5CDB95;
    background-color: var(--cream);
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.start-quiz {
    margin-top: 8vw;
    margin-left: 14vw;
    margin-right: 14vw;
    padding: 5vw;
    text-align: center;
    background-color: var(--green);
    border-radius: 4px;
}

.start-quiz h3 {
    font-size: 2vw;
    color:var(--cream);

}

.start-quiz p {
    font-size: 1.5vw;
    color:var(--blue);
    padding-bottom: 2vw;

}

.btn {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5vw;
    color: var(--cream);
    background-color:var(--blue);
    border: none;
    padding: 1.1vw;
    text-decoration: none;
    border-radius: 4px;
    
}

.btn:hover {
    cursor: pointer;
    background-color:var(--cream);
    color:var(--blue);
    transition: 0.5s linear;
    transform: scale(1.03);
    
}